.main-container {
    flex: 1;
    background-color: '#000';
    align-items: 'center';
    justify-content: 'center';
}

.auth-container {

}
.input {
    border-radius: 10px;
    border: 1px solid #292929;
    padding: 8px 10px;
    background-color: #171717;
    color: white;
    &:focus {
        outline: none;
    }
}

.submit {
    // width: 100%;
    background-color: #171717;
    border: 1px solid #292929;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    &:hover {
        color: white;
        transition-duration: 0.4s;
    }
}